In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [6]:
#calculate central x and central y in ArcGIS first (float)
Union=gpd.read_file("C:/Users/huangt/Documents/TERRESTRIAL_MAMMALS_201908/hantas_D_U.shp")

In [7]:
Union['count']=1
Union.head()

,FID_hantas,Rodent_hos,central_x,central_y,geometry,count
0,0,Akodon azarae,-53.8141,-32.3193,(POLYGON ((-50.65391189445283 -30.284803954576...,1
1,1,Akodon simulator,-65.6769,-24.2040,POLYGON ((-65.49989774026169 -24.3101452322013...,1
2,2,Akodon varius,-64.7716,-18.1002,POLYGON ((-61.78847181220245 -18.0770811436450...,1
3,3,Calomys laucha,-58.0434,-21.7665,(POLYGON ((-57.88788580259568 -21.172409522346...,1
4,4,Graomys griseoflavus,-66.3815,-36.7085,(POLYGON ((-55.32132647117163 -18.442052133303...,1

In [9]:
Union_ct=Union.groupby('central_x')['Rodent_hos'].nunique()
print(type(Union_ct))
print (Union_ct)

<class 'pandas.core.series.Series'>
central_x
-123.2710    1
-123.2420    2
-120.4550    2
-120.2340    3
-108.2090    2
-107.8840    1
-103.9900    1
-95.7202     1
-93.1022     2
-91.2465     2
-90.2862     3
-87.1214     2
-86.5076     1
-72.8194     1
-71.9162     2
-70.9719     1
-69.4872     3
-69.2685     2
-66.4759     1
-66.3815     1
-66.1555     2
-65.9429     2
-65.6769     1
-65.2224     3
-64.9617     2
-64.8883     4
-64.8791     3
-64.7986     3
-64.7716     1
-64.7555     2
            ..
-63.6024     3
-63.4437     3
-63.3081     4
-63.2448     4
-63.0681     2
-63.0566     2
-62.6218     4
-62.4274     5
-62.1072     3
-60.9755     2
-60.9654     3
-60.9451     3
-59.8947     2
-59.5477     4
-58.5778     4
-58.5631     5
-58.3402     3
-58.0434     1
-57.8664     3
-57.7805     3
-57.4816     3
-57.2697     2
-56.2952     2
-55.8749     4
-54.1309     2
-53.8141     1
-52.9098     3
-47.4988     2
-45.6331     1
 120.9870    1
Name: Rodent_hos, Length: 69, dtype: int64

In [10]:
Union_ct_df = Union_ct.to_frame()
print(Union_ct_df)
print (type(Union_ct_df))

           Rodent_hos
central_x
-123.2710           1
-123.2420           2
-120.4550           2
-120.2340           3
-108.2090           2
-107.8840           1
-103.9900           1
-95.7202            1
-93.1022            2
-91.2465            2
-90.2862            3
-87.1214            2
-86.5076            1
-72.8194            1
-71.9162            2
-70.9719            1
-69.4872            3
-69.2685            2
-66.4759            1
-66.3815            1
-66.1555            2
-65.9429            2
-65.6769            1
-65.2224            3
-64.9617            2
-64.8883            4
-64.8791            3
-64.7986            3
-64.7716            1
-64.7555            2
...               ...
-63.6024            3
-63.4437            3
-63.3081            4
-63.2448            4
-63.0681            2
-63.0566            2
-62.6218            4
-62.4274            5
-62.1072            3
-60.9755            2
-60.9654            3
-60.9451            3
-59.8947            2
-59.5477            4
-58.5778            4
-58.5631            5
-58.3402            3
-58.0434            1
-57.8664            3
-57.7805            3
-57.4816            3
-57.2697            2
-56.2952            2
-55.8749            4
-54.1309            2
-53.8141            1
-52.9098            3
-47.4988            2
-45.6331            1
 120.9870           1

[69 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [11]:
Union_ct_df.to_csv('C:/Users/huangt/Documents/TERRESTRIAL_MAMMALS_201908/hanta_heat.csv')